body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #8e44ad, #3498db); /* Gradient of purple and blue */
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    font-family: Arial, sans-serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    text-align: center;
    padding-top: 50px;
}

.title {
    font-size: 36px;
    color: white;
    margin-bottom: 30px;
}

.input-field {
    width: 200px;
    padding: 5px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #3498db;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #2980b9;
}

.prediction-value {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
}
